:host {
  display: block;
  max-width: 400px;
  margin: 5rem auto;
  border: 2px solid rgb(238, 238, 238);
  border-radius: 10px;
  padding: 20px;
}

form {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 0.6rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: .5rem;
}

button:disabled {
  opacity: 0.2;
  pointer-events: none;
}

button:hover {
  background-color: #0056b3;
}

button:last-child {
  background-color: #ABABAB;
}

button:last-child:hover {
  background-color: #A1A1A1;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #333;
}