.chat-wrapper {
  display: block;
  max-width: 400px;
  margin: 5rem auto;
  border: 2px solid rgb(238, 238, 238);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.text {
  display: block;
  font-size: 15px;
  margin-bottom: 4px;
}

.date {
  font-size: 12px;
  opacity: 0.7;
}