<div class="chat-wrapper relative">

  <button
    class="absolute top-2 right-2 bg-red-500 text-xs hover:bg-red-700 text-white cursor-pointer font-bold py-1 px-2 border border-red-700 rounded"
    (click)="logOut()">Logout</button>

  <h2>Your messages</h2>

  <div class="relative flex py-5 items-center">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400">💬</span>
    <div class="flex-grow border-t border-gray-400"></div>
  </div>

  <div *ngIf="loading">Loading...</div>

  <div *ngIf="!loading && messages.length === 0">
    No messages found.
  </div>

  <ul *ngIf="!loading && messages.length > 0">
    <li *ngFor="let msg of messages">
      <div class="message">
        <span class="text">{{ msg.text }}</span>
        <span class="date">{{ msg.createdAt | date: 'short' }}</span>
      </div>
    </li>
  </ul>

  <div class="w-full max-w-sm min-w-[200px]" *ngIf="!loading && messages.length > 0">
    <div class="relative">
      <input autofocus
        class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-3 pr-16 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
        placeholder="What's on your mind?" [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" />
      <button
        class="absolute right-1 top-1 rounded bg-slate-800 py-1 px-2.5 border cursor-pointer border-transparent text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button" (click)="sendMessage()">
        Send
      </button>
    </div>
  </div>

</div>