:host {
  display: block;
  max-width: 400px;
  margin: 5rem auto;
  border: 2px solid rgb(238, 238, 238);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

button {
  width: auto;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: #ABABAB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #A1A1A1;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2vh;
}

.home {
  text-align: center;
  margin-top: 3rem;
}